body{
    background-color:#f7ccebbd;
}
img {
max-width: 50%;
}
/* .picture {
    display:block; */
    /* margin-left:auto;
    margin-right: auto;
    width: 100%;
} */

#wrapper{
    max-width: 960px;
    margin: 0px auto;
}
#header{
    background:rgb(190, 81, 117);
    color:rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    margin: -8px;
}
#main-content{
    display: flex;
}
#pic{
    flex-basis: 70%;
    
}
#sidebar{
    flex-basis: 30%;
    margin-top: 20px;
    text-align: right;
    width: 100%;
}

#footer{
    text-align: left;
    color: whitesmoke;
    background: rgb(190, 81, 117);
    padding: 5px;
    margin: -8px;
}